
<br>
% if not pd is UNDEFINED and len(pd) > 0:
<table border="2" style="width:300px">
    <tr>
        <th>Patch ID</th>
        <th>Patch Data</th>
    </tr>

    % for patch_id in sorted(pd.keys()):
        ${patchrow(patch_id)}
    % endfor
</table>
% endif

% if not info is UNDEFINED and len(info) > 0:
<p>${info}</p>
% endif

% if not warning is UNDEFINED and len(warning) > 0:
<p>Warning:<br>${warning}</p>
% endif

% if not error is UNDEFINED and len(error) > 0:
<p>Error:<br>${error}</p>
% endif

<br><br>
<a href="/patch/query">Show all</a><br>
<a href="/patch/query?show=applied">Show applied</a><br>
<a href="/patch/query?show=available">Show available</a><br>
<a href="/patch/query_hosts">Query Hosts</a><br>

<br><br>
<form action="/patch/upload" method="POST" enctype="multipart/form-data">
  <input type="file" name="file"/>
  <button type="submit">Upload Patch</button>
</form>

<%def name="patchrow(patch_id)">
    <%
        p = pd[patch_id]
    %>
    <tr>
        <td valign="top"><a href="/patch/show/${patch_id}">${patch_id}</a></td>
        <td valign="top">
             <table border="1" width=100%>
                 % if p["repostate"] != "":
                     <tr><td valign="top">Repo State:</td><td valign="top">${p["repostate"]}</td></tr>
                 % endif
                 % if p["patchstate"] != "":
                     <tr><td valign="top">Patch State:</td><td valign="top">${p["patchstate"]}</td></tr>
                 % endif
                 % if p["status"] != "":
                     <tr><td valign="top">Status:</td><td valign="top">${p["status"]}</td></tr>
                 % endif
                 % if p["unremovable" != ""]:
                     <tr><td valign="top">Unremovable:</td><td valign="top">${p["unremovable"]}</td></tr>
                 % endif
                 % if p["reboot_required" != ""]:
                     <tr><td valign="top">Reboot-Required:</td><td valign="top">${p["reboot_required"]}</td></tr>
                 % endif
                 % if p["summary"] != "":
                     <tr><td valign="top">Summary:</td><td valign="top">${p["summary"]}</td></tr>
                 % endif
                 % if p["description"] != "":
                     <tr><td valign="top">Description:</td><td valign="top">${p["description"]}</td></tr>
                 % endif
                 % if p["install_instructions"] != "":
                     <tr><td valign="top">Install Instructions:</td><td valign="top">${p["install_instructions"]}</td></tr>
                 % endif
                 % if p["warnings"] != "":
                     <tr><td valign="top">Warnings:</td><td valign="top">${p["warnings"]}</td></tr>
                 % endif
                 % if p["repostate"] == "Applied":
                     <tr>
                         <td valign="top">Actions:</td>
                         <td valign="top"><a href="/patch/remove/${patch_id}">Remove</a></td>
                     </tr>
                 % endif
                 % if p["repostate"] == "Available":
                     <tr>
                         <td valign="top">Actions:</td>
                         <td valign="top"><a href="/patch/apply/${patch_id}">Apply</a><br>
                             <a href="/patch/delete/${patch_id}">Delete</a></td>
                     </tr>
                 % endif
             </table>
        </td>
    </tr>
</%def>

